<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toy.recipit.mapper.RecipeMapper">

    <select id="getPopularRecipes" parameterType="map" resultType="toy.recipit.mapper.vo.PopularRecipeVo">
        SELECT
            R.RECIPE_NO AS recipeNo,
            R.TITLE     AS title,
            IMG.URL     AS imagePath,
            SUM(CASE WHEN L.LIKE_YN = 'Y' THEN 1 ELSE 0 END) AS likeCount,
            MAX(CASE WHEN L.USER_NO = #{userNo} AND L.LIKE_YN = 'Y' THEN 1 ELSE 0 END) AS isLiked
        FROM RC_WEEKLY W
                 INNER JOIN RC_RECIPE R
                            ON W.RECIPE_NO = R.RECIPE_NO
                 INNER JOIN RC_IMAGE IMG
                           ON R.RECIPE_NO = IMG.RECIPE_NO
                           AND IMG.TYPE_CODE = #{imageTypeCode}
                 LEFT JOIN RC_LIKE L
                           ON R.RECIPE_NO = L.RECIPE_NO
        WHERE W.RECOMMENDED_DATE = CURDATE()
        GROUP BY R.RECIPE_NO
        ORDER BY W.SORT_SEQUENCE
        LIMIT #{size}
    </select>

    <select id="getRecipeCount" resultType="int">
        SELECT COUNT(*)
        FROM RC_RECIPE
        WHERE USER_NO = #{userNo}
          AND STATUS_CODE = #{statusCode}
    </select>

    <select id="isRecipeExists" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM RC_RECIPE
            WHERE RECIPE_NO = #{recipeNo}
        )
    </select>

    <select id="isLikeExists" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM RC_LIKE
            WHERE USER_NO = #{userNo}
              AND RECIPE_NO = #{recipeNo}
        )
    </select>

    <update id="updateLike">
        UPDATE RC_LIKE
        SET LIKE_YN = #{likeYn},
            EDIT_DATETIME = NOW(),
            EDIT_USER = #{userNo}
        WHERE USER_NO = #{userNo}
          AND RECIPE_NO = #{recipeNo}
    </update>

    <insert id="insertLike">
        INSERT INTO RC_LIKE
        (
         USER_NO,
         RECIPE_NO,
         LIKE_YN,
         CREATE_DATETIME,
         CREATE_USER,
         EDIT_DATETIME,
         EDIT_USER
        )
        VALUES
            (
                #{userNo},
                #{recipeNo},
                #{likeYn},
                NOW(),
                #{userNo},
                NOW(),
                #{userNo}
            )
    </insert>

    <select id="getRecentRecipes"
            resultType="toy.recipit.mapper.vo.SearchRecipeVo">
        SELECT
            R.RECIPE_NO        AS recipeNo,
            R.CATEGORY_CODE    AS categoryCode,
            R.TITLE            AS name,
            R.DESCRIPTION      AS description,
            IMG.URL            AS imageUrl,
            R.COOKING_TIME     AS cookingTime,
            R.DIFFICULTY_CODE  AS difficultyCode,
            DC.CODE_NAME       AS difficultyCodeName,
            COALESCE(SUM(CASE WHEN L.LIKE_YN = 'Y' THEN 1 ELSE 0 END), 0) AS likeCount,
        <choose>
            <when test="userNo != ''">
                MAX(
                    CASE
                        WHEN L.USER_NO = #{userNo} AND L.LIKE_YN = 'Y' THEN 1
                        ELSE 0
                    END
                )
            </when>
            <otherwise>
                0
            </otherwise>
        </choose> AS isLiked
        FROM RC_RECIPE R
            INNER JOIN RC_IMAGE IMG
                ON R.RECIPE_NO = IMG.RECIPE_NO
                AND IMG.TYPE_CODE = #{imageTypeCode}
            LEFT JOIN RC_LIKE L
                ON R.RECIPE_NO = L.RECIPE_NO
            INNER JOIN CM_DETAIL_CODE DC
                ON R.DIFFICULTY_CODE = DC.CODE
                AND DC.GROUP_CODE = #{difficultyGroupCode}
                AND DC.USE_YN = 'Y'
        <where>
            <if test="categoryCode != ''">
                R.CATEGORY_CODE = #{categoryCode}
            </if>
            <if test="keyword != ''">
                AND (
                    R.TITLE LIKE CONCAT('%', #{keyword}, '%')
                    OR R.DESCRIPTION LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
        GROUP BY R.RECIPE_NO
        ORDER BY R.RECIPE_NO DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="getRecipeCategories"
            resultType="toy.recipit.mapper.vo.CommonDetailCodeVo">
        SELECT DISTINCT
            CC.CODE      AS code,
            CC.CODE_NAME AS codeName,
            CC.NOTE_1    AS note1,
            CC.NOTE_2    AS note2,
            CC.NOTE_3    AS note3,
            CC.NOTE_4    AS note4
        FROM RC_RECIPE R
            INNER JOIN CM_DETAIL_CODE CC
                ON R.CATEGORY_CODE = CC.CODE
                AND CC.GROUP_CODE = #{categoryGroupCode}
                AND CC.USE_YN = 'Y'
        <where>
            <if test="keyword != ''">
                (R.TITLE LIKE CONCAT('%', #{keyword}, '%')
                OR R.DESCRIPTION LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        GROUP BY CC.CODE, CC.CODE_NAME
        ORDER BY CC.CODE
    </select>

</mapper>