<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toy.recipit.mapper.UserMapper">

    <select id="isNicknameDuplicate" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM US_USER
            WHERE NICK_NAME = #{nickname}
        )
    </select>

    <select id="isExistsByEmailForSignUp" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM US_USER
            WHERE SUBSTRING_INDEX(EMAIL, ':', 1) = #{emailToken}
        )
    </select>

    <select id="isExistsByNameAndPhoneForSignUp" parameterType="map" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM US_USER
            WHERE FIRST_NAME = #{firstName}
              AND MIDDLE_NAME = #{middleName}
              AND LAST_NAME = #{lastName}
              AND SUBSTRING_INDEX(PHONE_NUMBER, ':', 1) = #{phoneNumberToken}
        )
    </select>

    <insert id="insertUser" parameterType="map">
        INSERT INTO US_USER
        (
            EMAIL,
            NICK_NAME,
            PASSWORD,
            LAST_NAME,
            MIDDLE_NAME,
            FIRST_NAME,
            PHONE_NUMBER,
            COUNTRY_CODE,
            LOGIN_FAIL_COUNT,
            STATUS_CODE,
            CREATE_DATETIME,
            CREATE_USER,
            EDIT_DATETIME,
            EDIT_USER
        )
        VALUES
            (
                #{user.email},
                #{user.nickName},
                #{user.password},
                #{user.lastName},
                #{user.middleName},
                #{user.firstName},
                #{user.phoneNumber},
                #{user.countryCode},
                #{user.loginFailCount},
                #{user.statusCode},
                NOW(),
                #{insertId},
                NOW(),
                #{insertId}
            )
    </insert>


</mapper>