<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toy.recipit.mapper.UserMapper">

    <select id="isNicknameDuplicate" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM US_USER
            WHERE NICK_NAME = #{nickname}
        )
    </select>

    <select id="checkExistsByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM US_EMAIL_VERIFICATION
            WHERE EMAIL = #{email}
        )
    </select>

    <insert id="insertEmailVerification">
        INSERT INTO US_EMAIL_VERIFICATION
        (EMAIL,
         VERIFYING_CODE,
         VERIFYING_STATUS_CODE,
         VERIFYING_EXPIRE_DATETIME,
         CREATE_DATETIME,
         CREATE_USER,
         EDIT_DATETIME,
         EDIT_USER)
        VALUES
            (#{email},
             #{code},
             'V100',
             DATE_ADD(NOW(), INTERVAL 5 MINUTE),
             NOW(),
             0,
             NOW(),
             0)
    </insert>

    <update id="updateEmailVerification">
        UPDATE US_EMAIL_VERIFICATION
        SET
            VERIFYING_CODE = #{code},
            VERIFYING_STATUS_CODE = 'V100',
            VERIFYING_EXPIRE_DATETIME = DATE_ADD(NOW(), INTERVAL 5 MINUTE),
            EDIT_DATETIME = NOW(),
            EDIT_USER = 0
        WHERE EMAIL = #{email}
    </update>

    <select id="getPostDateTimeByEmail" resultType="java.time.OffsetDateTime">
        SELECT EDIT_DATETIME
        FROM US_EMAIL_VERIFICATION
        WHERE EMAIL = #{email}
    </select>

</mapper>